<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Redirect HTTP to HTTPS -->
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>

    <!-- MIME type mapping for static resources -->
    <staticContent>
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>

    <!-- Enable directory browsing (if necessary) -->
    <directoryBrowse enabled="false" />

    <!-- Custom error pages -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="404" path="/error/404.html" responseMode="ExecuteURL" />
      <error statusCode="500" path="/error/500.html" responseMode="ExecuteURL" />
    </httpErrors>

    <!-- URL Rewrite for routing -->
    <rewrite>
      <rules>
        <rule name="RewriteRoot" stopProcessing="true">
          <match url="^$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>

    <!-- WebSocket Configuration -->
    <webSocket enabled="true" />
    <handlers>
      <remove name="WebSocketModule" />
      <add name="WebSocketModule" path="*" verb="*" modules="WebSocketModule" resourceType="Unspecified" requireAccess="Script" />
    </handlers>

  </system.webServer>
</configuration>
