@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');

.title {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 48px;
    color: #333;
    text-align: center;
    background-color: rgb(235, 237, 202);
    margin: -22px auto 1px;
    width: 350px;
}

body {
    background-color: rgb(235, 237, 202);
}

#whiteboard{
    background-color: white;
}

.fullscreen {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

button {
    border: 1px solid black;
    border-bottom-right-radius: 30%;
    border-top-right-radius: 30%;
    position: fixed;
    left: 0;
    width: 90px;
    height: 10%;
}

button img {
    display: block;
    height: auto;
    width: auto;
    max-height: 95%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
}

.selectedTool {
    background-color: #333333;
}

.unselectedTool {
    background-color: white;
}