@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');

.title {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 48px;
    color: #333;
    text-align: center;
    background-color: rgb(235, 237, 202);
    margin: -22px auto 1px;
    width: 350px;
}

body {
    background-color: rgb(235, 237, 202);
}

#whiteboard{
    background-color: white;
}

.fullscreen {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

button {
    border: 1px solid black;
    position: fixed;
    left: 0;
    width: 60px;
    height: 6%;
}

button img {
    display: block;
    height: auto;
    width: auto;
    max-height: 90%;
    pointer-events: none;
    user-select: none;
}

#penButton {
    top: 26%;
    border-top-right-radius: 30%;
}

#eraserButton {
    top: 32%;
}

#fillButton {
    top: 38%;
}

#circleButton {
    top: 44%;
}

#squareButton {
    /* Theres a 0.1% gap in the spacing for some reason */
    top: 49.9%;
}

#triangleButton {
    top: 55.9%;
    border-bottom-right-radius: 30%;
}

.selectedTool {
    background-color: #333333;
}

.selectedTool img {
    -webkit-filter:invert(100%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}

#undoButton, #redoButton {
    bottom: 0px;
}

#undoButton {

}

#redoButton {
    left: 60px;
    border-top-right-radius: 30%;
}

.disabled {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.unselectedTool {
    background-color: white;
}
