@import url("https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap");

.title {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 48px;
    color: #333;
    text-align: center;
    background-color: rgb(235, 237, 202);
    margin: -22px auto 1px;
    width: 350px;
}

body {
    background-color: rgb(222, 202, 255);
    overflow: hidden;
}

#whiteboard{
    background-color: white;
}

.fullscreen {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

button, .menuItem {
    border: 1px solid black;
    position: fixed;
    left: 0;
    width: 60px;
    height: 6%;
}

#leftBarButtons button, #undoButton, #redoButton{
    max-width: fit-content;
}

#leftBarButtons button:not(.selectedTool):hover, #redoButton:hover, #undoButton:hover {
    background-color: #EEEEEE;
}

.menuItem {
    background-color: white;
    left: auto;
    right: 0;
    width: 59px;
}

.menuItem p {
    display: block;
    height: auto;
    width: auto;
    max-height: 40%;
    font-size: medium;
    pointer-events: none;
    user-select: none;
    text-align: center;
    bottom: 10%;
}

#penSizeItem {
    top: 49.9%;
}

button img {
    display: block;
    height: auto;
    width: auto;
    max-height: 90%;
    pointer-events: none;
    user-select: none;
}

#penButton {
    top: 26%;
    border-top-right-radius: 30%;
}

#eraserButton {
    top: 32%;
}

#lineButton {
    top: 38%;
}

#circleButton {
    top: 44%;
}

#squareButton {
    /* Theres a 0.1% gap in the spacing for some reason */
    top: 49.9%;
}

#triangleButton {
    top: 55.9%;
}

#colorPickerButton {
    top: 61.9%;
    border-bottom-right-radius: 30%;
}

.selectedTool {
    background-color: #333333;
}

.selectedTool img {
    -webkit-filter:invert(100%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert="1");
}

#undoButton, #redoButton {
    bottom: 0;
}

#undoButton {

}

#redoButton {
    left: 60px;
    border-top-right-radius: 30%;
}

#increasePenSizeButton, #decreasePenSizeButton {
    right: 0;
    left: auto;
}

#increasePenSizeButton {
    top: 44%;
    border-top-left-radius: 30%;
}

#decreasePenSizeButton {
    border-bottom-left-radius: 30%;
    top: 56%;
}

#increasePenSizeButton:active {
    -webkit-filter:invert(100%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert="1");
}

#decreasePenSizeButton:active {
    -webkit-filter:invert(100%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert="1");
}

#sessionCodeContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    padding: 3px 5px;
    min-width: 155px;
    border-bottom-right-radius: 30px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

/* Color selection */
#colorButtonsContainer #colorMenuSetTwo, #colorButtonsContainer #colorMenuSetOne {
    padding-bottom: 11px;
    top: 28.2%;
    height: 35px;
    width: 25px !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#colorButtonsContainer #colorMenuSetTwo label, #colorButtonsContainer #colorMenuSetOne label {
    pointer-events: none;
    user-select: none;
}

.selectedButton {
    background-color: #333333 !important;
    color: white;
    height: 40px !important;
    top: 27.9% !important;
    font-size: 18px;
}

#colorButtonsContainer #colorMenuSetTwo {
    left: auto;
    right: 9.6%;
}

#colorButtonsContainer #colorMenuSetOne {
    left: auto;
    right: 11.1%;

}

.menuItem .colorCircle, #cursorCircle .colorCircle, .menuItem #currentColorCircle {
    border: 1px solid black;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    display: inline-block;
}

.menuItem:has(#currentColorCircle) {
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 38%;
}

.menuItem:has(.colorCircle) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4%;
    height: 60px;
}

#colorButtonsContainer .menuItem { /* Color select buttons */
    width: 3%;
    height: 45px;
}

/* 5% per row */
.colorSelectRow1 .menuItem {
    top: 30.5%;
}
.colorSelectRow2 .menuItem {
    top: 35.5%;
}
/* center around: 38% */
.colorSelectRow3 .menuItem {
    top: 40.5%;
}
.colorSelectRow4 .menuItem {
    top: 45.5%;
}

/* 3% per column */
.colorSelectCol1 {
    right: 9.5%;
}
.colorSelectCol2 {
    right: 6.5%;
}
.colorSelectCol3 {
    right: 3.5%;
}

.colorSelectRow1 .colorSelectCol1:first-child {
    border-top-left-radius: 30%;
}

.colorSelectRow1 .colorSelectCol3:last-child {
    border-top-right-radius: 30%;
}

.colorSelectRow4 .colorSelectCol3:last-child {
    border-bottom-right-radius: 30%;
}

.colorSelectRow4 .colorSelectCol1:first-child {
    border-bottom-left-radius: 30%;
}

.selectedColor {
    background-color: #333333;
}
.selectedColor .colorCircle {
    border: 3px solid white;
}

.disabled {
    display: none !important;
}

.unselectedTool {
    background-color: white;
}

#cursorCircle {
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border: 1px dashed grey;
    border-radius: 50%;
    pointer-events: none;
    background-color: transparent;
    z-index: 10;
}

#colorPickerPreviewCircle {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    pointer-events: none;
    z-index: 10;
}


#ghostShape {
    display: block;
    position: absolute;
    pointer-events: none;
    background-color: grey;
    opacity: 30%;
}

#ghostShape.triangle {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid gray; /* Adjust color as needed */
}



/* Cursor Updating */
.pen-cursor {
    cursor: url("../images/pen_cursor.png") 0 32, default;
    border: white 1px solid;
}

.eraser-cursor {
    cursor: url("../images/eraser_cursor.png") 12 32, default;
}

.line-cursor {
    cursor: url("../images/plus.png") 16 16, crosshair;
}

.dropper-cursor {
    cursor: url("../images/dropper_cursor.png") 8 32, default;
}

.shape-cursor {
    cursor: url("../images/plus.png") 16 16, crosshair;
}

#saveIcon {
    scale: 80%;
}

#saveButton {
    bottom: 0;
    right: 0;
    border-top-left-radius: 30%;
}