<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pen Together</title>
        <link rel="stylesheet" href="/css/canvas.css">
        <script src="/js/canvas.js" defer></script>
    </head>
    <body>
        <canvas id="whiteboard" alt="That's weird, a canvas should be here" class="fullscreen"></canvas>
        <button type="button" onclick="selectPenTool()" class="selectedTool" id="penButton">
            <img src="/images/pen.png" alt="Selected Pen">
        </button>
        <button type="button" onclick="selectEraserTool()" class="unselectedTool" id="eraserButton">
            <img src="/images/eraser.png" alt="Eraser tool">
        </button>
    </body>
    <footer>
        <table>
            <thead>External References</thead>
            <tr>
                <td><a href="https://www.flaticon.com/free-icons/serif" title="serif icons">Serif icons created by Freepik - Flaticon</a></td>
            </tr>
            <tr>
                <td><a href="https://www.flaticon.com/free-icons/rectangle" title="rectangle icons">Rectangle icons created by Vitaly Gorbachev - Flaticon</a></td>
            </tr>
            <tr>
                <td><a href="https://www.flaticon.com/free-icons/color-picker" title="color picker icons">Color picker icons created by Icongeek26 - Flaticon</a></td>
            </tr>
        </table>
    </footer>
</html>