<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PenTogether</title>
        <link rel="stylesheet" href="../static/canvas.css">
        <script src="../static/script.js" defer></script>
    </head>
    <body>
        <canvas id="whiteboard" alt="That's weird, a canvas should be here"></canvas>
        <p>Yay! we can draw!!... wait why can't we draw yet? >:(</p>
        <button type="button" onclick="hateSent()">Send hate to the devs</button>
    </body>
</html>