<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pen Together</title>
        <link rel="stylesheet" href="/css/canvas.css">
        <script src="/js/canvas.js" defer></script>
        <link rel="icon" href="/images/PenTogetherLogo.png" type="image/jpg">
    </head>
    <body>
        <canvas id="whiteboard" alt="Drawing canvas" class="fullscreen"></canvas>
        <div id="leftBarButtons">
            <!-- Pen button -->
            <button type="button" onclick="selectPenTool()" class="selectedTool" id="penButton">
                <img src="/images/pen.png" alt="Pen Tool">
            </button>
            <!-- Eraser button -->
            <button type="button" onclick="selectEraserTool()" class="unselectedTool" id="eraserButton">
                <img src="/images/eraser.png" alt="Eraser tool">
            </button>
            <!-- Circle button -->
            <button type="button" onclick="selectShapeTool('circle')" class="unselectedTool" id="circleButton">
                <img src="/images/circle.png" alt="Circle Tool">
            </button>
            <!-- Square button -->
            <button type="button" onclick="selectShapeTool('square')" class="unselectedTool" id="squareButton">
                <img src="/images/square.png" alt="Square Tool">
            </button>
            <!-- Triangle button -->
            <button type="button" onclick="selectShapeTool('triangle')" class="unselectedTool" id="triangleButton">
                <img src="/images/triangle.png" alt="Triangle Tool">
            </button>
            <!-- Line button -->
            <button type="button" onclick="selectLineTool()" class="unselectedTool" id="lineButton">
                <img src="/images/diagonal-line.png" alt="Line tool">
            </button>
            <!-- Color Picker button -->
            <button type="button" onclick="selectColorPicker()" class="unselectedTool" id="colorPickerButton">
                <img src="/images/dropper.png" alt="Color picker tool">
            </button>
        </div>
        <!-- Undo button -->
        <button type="button" onclick="undoButton()" class="unselectedTool" id="undoButton">
            <img src="/images/undo.png" alt="Undo">
        </button>
        <!-- Redo button -->
        <button type="button" onclick="redoButton()" class="unselectedTool" id="redoButton">
            <img src="/images/redo.png" alt="Redo">
        </button>

        <div id="penSizeMenu">
            <!-- Increase Pen Size button -->
            <button type="button" onclick="increasePenSizeButton()" class="unselectedTool" id="increasePenSizeButton">
                <img src="/images/plus.png" alt="Increase pen size">
            </button>
            <!-- Decrease Pen Size button -->
            <button type="button" onclick="decreasePenSizeButton()" class="unselectedTool" id="decreasePenSizeButton">
                <img src="/images/minus.png" alt="Decrease pen size">
            </button>
            <!-- Pen size text -->
            <div class="menuItem" id="penSizeItem">
                <p id="penSizeText">5px</p>
            </div>
        </div>

        <!-- Color buttons -->
        <div class="menuItem" id="colorMenuButton" onclick="displayColorOptions('true')">
            <div id="currentColorCircle"></div>
        </div>
        <div id="colorButtonsContainer" class="disabled">
            <button type="button" onclick="setColorSetInMenu(0)" class="unselectedTool" id="colorMenuSetOne">
                <label>1</label>
            </button>
            <button type="button" onclick="setColorSetInMenu(1)" class="unselectedTool" id="colorMenuSetTwo">
                <label>2</label>
            </button>
            <div id="colorSet">
                <div class="colorSelectRow1">
                    <div class="menuItem colorSelectCol1">
                        <div class="colorCircle" onclick="colorButtonPressed(this)"></div>
                    </div>
                    <div class="menuItem colorSelectCol2">
                        <div class="colorCircle" onclick="colorButtonPressed(this)"></div>
                    </div>
                    <div class="menuItem colorSelectCol3">
                        <div class="colorCircle" onclick="colorButtonPressed(this)"></div>
                    </div>
                </div>
                <div class="colorSelectRow2">
                    <div class="menuItem colorSelectCol1">
                        <div class="colorCircle" onclick="colorButtonPressed(this)"></div>
                    </div>
                    <div class="menuItem colorSelectCol2">
                        <div class="colorCircle" onclick="colorButtonPressed(this)"></div>
                    </div>
                    <div class="menuItem colorSelectCol3">
                        <div class="colorCircle" onclick="colorButtonPressed(this)"></div>
                    </div>
                </div>
                <div class="colorSelectRow3">
                    <div class="menuItem colorSelectCol1">
                        <div class="colorCircle" onclick="colorButtonPressed(this)"></div>
                    </div>
                    <div class="menuItem colorSelectCol2">
                        <div class="colorCircle" onclick="colorButtonPressed(this)"></div>
                    </div>
                    <div class="menuItem colorSelectCol3">
                        <div class="colorCircle" onclick="colorButtonPressed(this)"></div>
                    </div>
                </div>
                <div class="colorSelectRow4">
                    <div class="menuItem colorSelectCol1">
                        <div class="colorCircle" onclick="colorButtonPressed(this)"></div>
                    </div>
                    <div class="menuItem colorSelectCol2">
                        <div class="colorCircle" onclick="colorButtonPressed(this)"></div>
                    </div>
                    <div class="menuItem colorSelectCol3">
                        <div class="colorCircle" onclick="colorButtonPressed(this)"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Session code display text -->
        <div class="menuItem" id="sessionCodeContainer">
            <p>Session code:</p>
        </div>

        <!-- Save Button -->
        <button class="menuItem" id="saveButton" type="button" onclick="saveButton()">
            <img src="/images/floppy-disk.png" alt="Save Button" id="saveIcon">
        </button>

        <!-- Color picker preview -->
        <div id="colorPickerPreviewCircle" class="colorCircle"></div>

        <div id="ghostShape"></div>
        <div id="ghostLine"></div>

        <!-- Cursor -->
        <div id="cursorCircle"></div>
        <div id="cursorUpdater"></div>
    </body>
    <footer>
        <table>
            <thead>External References</thead>
            <tr>
                <td><a href="https://www.flaticon.com/authors/freepik" title="freepik reference">Serif icons created by Freepik - Flaticon</a></td>
            </tr>
            <tr>
                <td><a href="https://www.flaticon.com/authors/vitaly-gorbachev" title="vitaly gorbachev reference">Rectangle icons created by Vitaly Gorbachev - Flaticon</a></td>
            </tr>
            <tr>
                <td><a href="https://www.flaticon.com/authors/icongeek26" title="icongeek26 reference">Color picker icons created by Icongeek26 - Flaticon</a></td>
            </tr>
        </table>
    </footer>
</html>