<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Pen Together</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/images/PenTogetherLogo.png" type="image/jpg">
    </head>
    <body>
    <header>
            <h1 class="header-title">Pen Together</h1>
    </header>
        <div class="container">
            <img src="/images/PenTogetherLogo.png" alt="Pen Together Logo" class="logo">
            <div class="option">
                <form action="/canvas" method="post">
                    <button class="btn">Host Session</button>
                </form>
            </div>
            <div class="option">
                <button class="btn">Join Session</button>
            </div>
        </div>
    </body>
</html>